/* !---------- Modal Styles ---------- */
.modal {
	z-index: 50;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
	justify-content: center;
	align-items: center;
}

.modal-content {
	background-color: var(--bg-primary);
	padding: 2em;
	border-radius: 10px;
	text-align: center;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-content button {
	margin: 10px;
	padding: 10px 20px;
	font-size: 1rem;
	cursor: pointer;
	border: none;
	border-radius: 5px;
}

.confirmButton {
	background-color: green;
	color: white;
}

.cancelButton {
	background-color: red;
	color: white;
}

#playAgainButton {
	background-color: green;
	color: white;
}

#saveGameButton {
	background-color: blue;
	color: white;
}

/* Show the modal when it's active */
.modal.show {
	display: flex;
}
